*{
    margin: 0px;
    padding: 0px;
}

.header{
    margin-left: 50px;
}

.home{
    font-size: 20px;
    margin-right: 20px;
}

.home{
    margin-right: 100px;
    gap: 20px;
}

.about{
    margin-right: 100px;
    gap: 20px;
}