*{
    margin: 0px;
    padding: 0px;
}

.header{
    margin-top: 10px;
    margin-left: 50px;
}

.home{
    margin-right: 100px;
    gap: 20px;
    font-size: large;
    
}


.about{
    margin-right: 100px;
    gap: 20px;
    font-size: large;
}
